
::placeholder {
    font-size: 1.2em;
    color: rgb(95, 99, 104);
}

.right-child {
    position: absolute;
    width:10%;
    height: 40px;
    right: 0;
}


.far-right-child {
    padding: 11px 5px;
    position: inline;
    background-image: url("https://images.squarespace-cdn.com/content/v1/538c71f8e4b0371e6dad5b7f/1402062372086-YX1EMH5GWV50R0JJNLXJ/ke17ZwdGBToddI8pDm48kOTkGqvVCD2Xi14O1G8u_cNZw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVG3cJ8kPC9iop-oD7xMgRi0K2f09I1UAXuuoP5pT6tc98TC2sCTdZrEoSRToSZJAH8/image-asset.jpeg");
    background-size: 30px 30px;
    background-repeat: no-repeat;
    background-position: right 15px top 5px;
}


a {
    display: inline;
    text-align: center;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.logo {
    padding-top: 13.5%;
    background-image: url("https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png");
    background-repeat: no-repeat;
    background-position: left 50% bottom 0px;
}   


.input-div {
    position: relative;
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 561px;
    height: 44px;
}

#search {
    position: absolute;
    top: 23%;
    left: 2.5%;
    z-index: 1;
    color: rgb(95, 99, 104);
}

.input {
width: 100%;
height: 100%;
position: relative;
display: inline-block;
padding-inline-end: 44px;
padding-inline-start: 52px;
border-radius: 30px;
border-style: none;
box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.mic-icon-div {
    position: absolute;
    height: 21px;
    width: 21px;
}

.container {
    width: 465px;
    height: 228px;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

 [class^="item"] {
 display: flex;
 color:grey;
 height: 112px;
 width: 112px;
 border-radius: 5px;
 flex-direction: column;   
 align-items: center; 
}
 
[class^="item"]:hover {
    background-color: #c9c9c9;
  }

[class^="icon"] {
    display: flex;
    margin-top: 16px;
    height: 48px;
    width: 48px;
    background-color: rgba(241, 241, 244, 1);
    border-radius: 50%; 
    
}

img.YT {
    display: block;
    margin: auto;
    width: 25px;
}

.linktext {
 display: flex;
 align-items: center;
 margin-top: 14px;
 padding: 2px 6px;
 width: 88px;  
}

span {
text-align: center;
width: 100%;
}


